@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.toolCanvas {
  display: flex;
  gap: 10px;
}
.App {
  scrollbar-width: none;
}
/*_________________________ToolBar____________________*/
.toolContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 40px;
  border: 8px solid #fff;
  height: fit-content;
  border-radius: 30px;
  background-color: #ffde4d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.colorPickerText {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #000;
}
.tools {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
}
.dropDown {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  border: 3px solid #640d6b;
  border-radius: 50px;
  width: 200px;
  padding: 10px;
}
.colorPickerBox {
  width: 150px;
  height: 30px;
}
.toolIcons {
  width: 20px;
  height: 20px;
}
.thickness {
  margin-top: 10px;
}
.thicknessbar {
  width: 180px;
  color: black;
}
.fillcolor {
  margin-top: 10px;
}
.fillcolorbox {
  width: 150px;
  height: 30px;
}
.arrowIcons {
  color: #694f8e;
}
.exportBtn {
  background-color: #ff8f00;
  width: fit-content;
  padding: 10px;
  margin-top: 20px;
  border: 3px solid #000;
  border-radius: 50px;
}
.exportBtn:hover {
  cursor: pointer;
}
.btnTitle {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

/*--------------------------------------------------------------------------*/
@media (max-width: 700px) {
  .title {
    font-size: 10px;
  }
  .toolCanvas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .toolContainer {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    column-gap: 30px;
    margin: 5px;
  }
  .left-column,
  .content,
  .right-column {
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
  .colorPickerText {
    font-size: 13px;
  }
  .colorPickerBox {
    margin-top: 10px;
  }
  .dropDown {
    width: 120px;
    padding: 5px;
    font-size: 15px;
  }
  .tools {
    margin-top: 0px;
  }
  .thicknessbar {
    width: 150px;
  }
  .exportBtn {
    padding: 8px;
  }
  .btnTitle {
    font-size: 13px;
  }
  .canvas-container {
    touch-action: none; /* Disables touch interactions like scrolling */
  }
}
