body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ffb800, #ffa004, #ff8709);
}
input,
button,
select {
  border: none;
  background: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
